@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Core CSS Theme
 * ==============
 */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* color theme */
  --green-garden: #4a7c59;
  --beige-soil: #f8f5e8;
  --brown-soil: #7a5230;
  --gold-potato: #e3a754;
  --red-error: #e74c3c;

  /* TODO: wasn't this colour good before? Find a better theme colour consistent */
  /* background-color: #d9c2a1; */
}

html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      #7a5230,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: url('/potato-garden-bg.webp');
  /* Replace with the correct file name */

  /* Add a semi-transparent overlay */
  position: relative;
  /* Ensure content can stack over the background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Centers the image */
  background-attachment: scroll;
}

body::before {
  content: '';
  /* Add an empty content block */
  position: absolute;
  /* Position relative to the parent */
  width: 100%;
  /* Covers the whole parent */
  height: 100%;
  /* Covers the whole parent */
  background-color: rgba(0, 0, 0, 0.5);
  /* Set overlay color and opacity */
  z-index: -1;
  /* Ensures it stays behind the content */
}

.main-content {
  height: calc(100vh - 64px);
}

.bg-beige-soil {
  background-color: var(--beige-soil);
}

.bg-brown-soil {
  background-color: var(--brown-soil);
}

.bg-green-garden {
  background-color: var(--green-garden);
}

.bg-red-error {
  background-color: var(--red-error);
}

.bg-green-garden:hover {
  background-color: var(--gold-potato);
}

.bg-red-error:hover {
  background-color: var(--gold-potato);
}


/**
 * Elements
 * ==============
 */

.card {
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  min-width: 320px;
}

select:focus {
  border-color: var(--gold-potato);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px var(--gold-potato);
}

/* Confetti effect - moved from index.module.css */
.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Ensure the confetti doesn't block clicks */
  overflow: hidden;
  z-index: 9999;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 12px;
  background: red;
  opacity: 0.8;
  transform: rotate(45deg);
  animation:
    fall 2s linear infinite,
    sway 2s ease-in-out infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}

@keyframes sway {
  50% {
    transform: translateX(50px);
  }
}